# Ignore node_modules for both frontend and backend
node_modules/
client/node_modules/
server/node_modules/

# Ignore dependency lock files (optional, but helps avoid conflicts)
package-lock.json
yarn.lock

# Ignore environment variable files
.env
.env.local
.env.development
.env.production
.env.test

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*
debug.log
.log
*.gz

# Build files
client/build/
server/dist/
server/build/

# Editor settings
.vscode/
.idea/
*.iml

# MacOS system files
.DS_Store

# Linux system files
*.swp

# Windows system files
Thumbs.db
